<h1><%= I18n.t('layout.edit.title') %></h1>

<% form_for(@act) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= I18n.t('layout.common.plandate') %><br />
    <%= f.date_select :plandate, :use_month_numbers => true %>
  </p>
  <p>
    <%= I18n.t('layout.common.dcfname') %><br />
	<%= collection_select :act, :dcfcode, Dcf.find(:all), :dcfcode, :dcfname %>
  </p>
  <p>
    <%= I18n.t('layout.common.drfname') %><br />
	<%= collection_select :act, :drfcode, Drf.find(:all), :drfcode, :drfname %>
  </p>
  <p>
    <%= I18n.t('layout.common.itemname') %><br />
	<%= collection_select :act, :itemcode, Item.find(:all), :itemcode, :itemname %>
  </p>
  <p>
    <%= I18n.t('layout.common.acttypename') %><br />
	<%= collection_select :act, :acttypecode, Acttype.find(:all), :acttypecode, :acttypename %>
  </p>
  <p>
    <%= I18n.t('layout.common.visitdate') %><br />
    <%= f.date_select :visitdate, :use_month_numbers => true %>
  </p>
  <p>
    <%= f.submit 'OK' %>
  </p>
<% end %>

<%= link_to I18n.t('layout.common.show'), @act %> |
<%= link_to I18n.t('layout.common.back'), acts_path %>