<h1>Listing drves</h1>

<table>
  <tr>
    <th>Drfcode</th>
    <th>Drfname</th>
    <th>Dcfcode</th>
  </tr>

<% @drves.each do |drf| %>
  <tr>
    <td><%=h drf.drfcode %></td>
    <td><%=h drf.drfname %></td>
    <td><%=h drf.dcfcode %></td>
    <td><%= link_to 'Show', drf %></td>
    <td><%= link_to 'Edit', edit_drf_path(drf) %></td>
    <td><%= link_to 'Destroy', drf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New drf', new_drf_path %>