<p>
  <b>Drfcode:</b>
  <%=h @drf.drfcode %>
</p>

<p>
  <b>Drfname:</b>
  <%=h @drf.drfname %>
</p>

<p>
  <b>Dcfcode:</b>
  <%=h @drf.dcfcode %>
</p>


<%= link_to 'Edit', edit_drf_path(@drf) %> |
<%= link_to 'Back', drves_path %>