<h1>Listing dcfs</h1>

<table>
  <tr>
    <th>Dcfcode</th>
    <th>Dcfname</th>
  </tr>

<% @dcfs.each do |dcf| %>
  <tr>
    <td><%=h dcf.dcfcode %></td>
    <td><%=h dcf.dcfname %></td>
    <td><%= link_to 'Show', dcf %></td>
    <td><%= link_to 'Edit', edit_dcf_path(dcf) %></td>
    <td><%= link_to 'Destroy', dcf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dcf', new_dcf_path %>