<h1>Editing acttype</h1>

<% form_for(@acttype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :acttypecode %><br />
    <%= f.text_field :acttypecode %>
  </p>
  <p>
    <%= f.label :acttypename %><br />
    <%= f.text_field :acttypename %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @acttype %> |
<%= link_to 'Back', acttypes_path %>