<h1>Listing acttypes</h1>

<table>
  <tr>
    <th>Acttypecode</th>
    <th>Acttypename</th>
  </tr>

<% @acttypes.each do |acttype| %>
  <tr>
    <td><%=h acttype.acttypecode %></td>
    <td><%=h acttype.acttypename %></td>
    <td><%= link_to 'Show', acttype %></td>
    <td><%= link_to 'Edit', edit_acttype_path(acttype) %></td>
    <td><%= link_to 'Destroy', acttype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acttype', new_acttype_path %>